<div id="hero-selection-frame">
  Hero Selection
  <br>
  <select name="hero-select" [(ngModel)]="herochoice">
    <option value="mage">Mage</option>
    <option value="guerrier">Guerrier</option>
    <option value="paladin">Paladin</option>
  </select>
  <br>
  <button (click)="onHeroValidationClick()">
    Valider le choix
  </button>
  <br>
  <div class="waiting-message alert-primary" *ngIf="waitingForPlayers && !waitingForHeroSelection" id="hero-selection-waiting">
    En attente d'un autre joueur...<br>
    URL: <a href="{{serverUrl}}join/{{game.id}}/{{game.key}}">{{serverUrl}}join/{{game.id}}/{{game.key}}</a>
  </div>
  <div class="waiting-message alert-primary" *ngIf="waitingForHeroSelection && !waitingForPlayers" id="hero-selection-waiting">
    Tout les joueurs sont connectés, les joueurs doivent selectionner un héros.
  </div>
</div>
