<div id="lobby-frame">
    <h1 id="lobby-main-title"> Bienvenue </h1>
    <a routerLink="/creator" routerLinkActive="active" id="lobby-create-game-button">
      New Game
    </a>
    <br>
    <a routerLink="/join" routerLinkActive="active" id="lobby-join-game-button">
      Join Game
    </a>

    <hr>
    <a href="/backend_static_tests/site/">Tests Statiques Application</a>
    <br>
    <a href="/backend_static_tests/site/pmd.html">PMD Application</a>
    <br>
    <a href="/dao_static_tests">Tests Statiques DAO</a>
    <br>
    <a href="/backend_static_tests/site/pmd.html">PMD DAO</a>
</div>
