<div id="join-frame">
  Join a game
  <br>
  <label>Game ID:
    <input [(ngModel)]="game.id">
  </label>
  <br>
  <label>Game Key:
    <input [(ngModel)]="game.key">
  </label>
  <br>
  <label>Player name:
    <input [(ngModel)]="player.name" placeholder="Nickname">
  </label>
  <br>
  <label>Player key:
    <input [(ngModel)]="player.key" placeholder="Key">
  </label>
  <br>
  <button id="game-join-button" (click)="onClickJoin()">
    Join
  </button>
</div>
