<div id="game-board-frame">

  <div id="game-board-status">
    <div id="game-board-status-turn">
      Tour du joueur {{gamecontent.turn}} {{turnMessage}}
      <br>
      <app-turn-clock [start]="gamecontent.timerStart"></app-turn-clock>
    </div>
  </div>

  <hr>

  <div class="oppositeHero" id="game-board-oppositehero" (click)="onClickOppositeHero()">
    <h4>Héros adverse:</h4> {{oppositeHero.name}} (hp: {{oppositeHero.hp}} / armor: {{oppositeHero.armor}})
    <br>
    Mana de l'adversaire: {{oppositeMana}}
  </div>

  <hr>

  <div id="game-board">
    <ul class="list-group" id="game-board-notyours">
      <h3>Cartes en Jeu de l'adversaire:</h3>
      <li class="playingServant list-group-item" data-toggle="tooltip" title="EFFET: {{servant.specialaction!=null ? servant.specialaction.description : 'Ce serviteur n\'as pas d\'action spéciale'}}" (init)="servant.hovered=false" (mouseenter)="servant.hovered=true" (mouseleave)="servant.hovered=false" *ngFor="let servant of oppositePlayingCards" [ngClass]="{'list-group-item-info': servant.hovered,'active': servant.id == selection1Id || servant.id == selection2Id,'disabled': provocked == true && !(provockingServantsIds | arrayContains:servant.id)}" (click)="onClickServant(servant)">
        {{servant.name}} (hp: {{servant.healthPoint}} / degats: {{servant.damages}} / pret a attaquer: {{servant.canAttack ? "oui" : "non"}})
        <span *ngIf="provockingServantsIds | arrayContains:servant.id" class="text-danger">
          PROVOQUE
        </span>
      </li>
    </ul>

    <hr>


    <ul class="list-group" id="game-board-yours">
      <h3>Vos Cartes en Jeu:</h3>
      <li class="playingServant list-group-item" data-toggle="tooltip" title="EFFET: {{servant.specialaction!=null ? servant.specialaction.description : 'Ce serviteur n\'as pas d\'action spéciale'}}" (init)="servant.hovered=false" (mouseenter)="servant.hovered=true" (mouseleave)="servant.hovered=false" *ngFor="let servant of myPlayingCards" [ngClass]="{'list-group-item-info': servant.hovered,'active': servant.id == selection1Id || servant.id == selection2Id}" (click)="onClickServant(servant)">
        {{servant.name}} (hp: {{servant.healthPoint}} / degats: {{servant.damages}} / pret a attaquer: {{servant.canAttack ? "oui" : "non"}})
      </li>
    </ul>
  </div>

  <hr>


  <ul class="list-group" id="game-board-hand">
    <h3>Votre main:</h3>
    <li class="cardInHand list-group-item list-group-item-secondary" *ngFor="let card of hand">
      {{ card.name }}
      <span *ngIf="card.type=='spell'">
        <app-spell-details [card]="card"></app-spell-details>
      </span>
      <span *ngIf="card.type=='servant'">
        <app-servant-details [card]="card"></app-servant-details>
      </span>
      <br>
      <button (click)="onClickInvoke(card)">
        Invoquer
      </button>
    </li>
  </ul>

  <hr>

  <div id="game-board-myhero">
    <h4>Votre héros:</h4> {{myHero.name}} (hp: {{myHero.hp}} / armor: {{myHero.armor}})
    <br>
    Votre mana: {{myMana}}
    <button (click)="onClickSpecialAction()" data-toggle="tooltip" title="{{myHero.specialaction.description}}">
      {{myHero.specialaction.name}}
    </button>
  </div>

  <hr>

  <div id="game-board-notification">
    <div class="alert alert-warning alert-dismissible fade show" *ngIf="selection1Needed">
      Vous devez selectionner une source de l'action
    </div>
    <div class="alert alert-warning alert-dismissible fade show" *ngIf="selection2Needed">
      Vous devez selectionner une cible de l'action
    </div>
    <div class="alert alert-warning alert-dismissible fade show" *ngIf="warning">
      {{warningMessage}}
    </div>
  </div>

  <div id="game-board-actions">
    <button class="game-board-action" (click)="onClickAttack()">
      Attaquer
    </button>
    <button class="game-board-action" (click)="onClickCheck()">
      Passer le tour
    </button>
    <button class="game-board-action" (click)="onClickForfeit()">
      Déclarer forfait
    </button>
  </div>

</div>
