.selected
{
  color:blue;
}

.playingServant
{
  cursor:pointer;
  list-style: none;
}

.oppositeHero
{
    cursor:pointer;
}

.cardInHand
{
  list-style: none;
}
.cantAttack
{
  opacity:0.5;
  cursor:default;
}
