<div id="game-creator-frame">
  Game Creation
  <br>
  <label>Player name:
    <input [(ngModel)]="player.name" placeholder="Nickname">
  </label>
  <br>
  <label>Player key:
    <input [(ngModel)]="player.key" placeholder="Key">
  </label>
  <br>
  <button id="game-creator-create-button" (click)="onClickCreate()">
    Create
  </button>
</div>
